*pretest
*~
*.pyc
*.pt
*.pkl
.idea/
out/
data/raw/
data/processed/
logs/

/main.pdf
__pycache__/

*.aux
*.bbl
*.blg
*.log
*.out
*.zip

report/assets/
report/REPORT_HANDOFF.md
report/COLM_2024_Official_Template/colm2024_conference.bib
report/COLM_2024_Official_Template/colm2024_conference.pdf
report/COLM_2024_Official_Template/colm2024_conference.tex
report/COLM_2024_Official_Template/*preview*.png
